<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/articlesCss/articles.css">
</head>
<body>
    <header>
        <h1><a href="/">GuiaPress</a></h1>
        <div id="div-header">
            <h3><a href="/admin/categories">Categories table</a></h3>
            <h3><a href="/admin/categories/new">Categories insert</a></h3>
            <h3><a href="/admin/article/new">Articles insert</a></h3>
            <h3><a href="/logout">LogOut</a></h3>
        </div>
    </header>

    <div id="container">
        <h2>Artigos</h2>
        <button id="categorias">
            <a href="/admin/article/new">Criar novo artigo</a>
        </button>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% dadosArticle.forEach((dados) =>{ %>
                    <tr>
                        <td id="td-id"><%= dados.id %></td>
                        <td><%= dados.title %></td>
                        <td><%= dados.slug %></td>
                        <!--Uso do método include no findAll()-->
                        <!--Usei 'category' porque é esse nome que dei pra essa tabela na minha relação entre elas-->
                        <td><%= dados.category.title %></td> 
                        <td id="td-buttons">
                            <form action="/admin/article/delete" method="post" class="delete-form">
                                <input type="hidden" name="id" value="<%= dados.id %>">
                                <button class="deletar" type="submit">Deletar</button>
                            </form>
                                <a href="/admin/article/edit/<%= dados.id %>">
                                    <button id="editar">Editar</button>
                                </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script>
        var deleteForm = document.querySelectorAll('.delete-form')
            deleteForm.forEach((form) => {
                form.addEventListener('submit', (event) => {
                    event.preventDefault(); // Evita que o formulário seja enviado automaticamente
                    if (confirm('Tem certeza que deseja excluir este dado?')) {
                        form.submit(); // Envia o formulário se o usuário confirmar
                    }
                });
            });
    </script>
</body>
</html>